name: Deploy Docker Container

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-24.04
    environment:
      name: telemetry.artemis.cit.tum.de
      url: https://telemetry.artemis.cit.tum.de
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Copy docker-compose to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.URL }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          proxy_host: ${{ vars.DEPLOYMENT_GATEWAY_HOST }}
          proxy_username: ${{ vars.DEPLOYMENT_GATEWAY_USER }}
          proxy_key: ${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}
          proxy_port: ${{ vars.DEPLOYMENT_GATEWAY_PORT }}
          source: 'docker-compose.yml'
          target: '/opt/artemis-telemetry'

      - name: Copy docker-compose to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.URL }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          proxy_host: ${{ vars.DEPLOYMENT_GATEWAY_HOST }}
          proxy_username: ${{ vars.DEPLOYMENT_GATEWAY_USER }}
          proxy_key: ${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}
          proxy_port: ${{ vars.DEPLOYMENT_GATEWAY_PORT }}
          source: 'docker-compose.prod.yml'
          target: '/opt/artemis-telemetry'

      - name: Start Telemetry App
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.URL }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          proxy_host: ${{ vars.DEPLOYMENT_GATEWAY_HOST }}
          proxy_username: ${{ vars.DEPLOYMENT_GATEWAY_USER }}
          proxy_key: ${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}
          proxy_port: ${{ vars.DEPLOYMENT_GATEWAY_PORT }}
          script: |
            docker-compose -f /opt/artemis-telemetry/docker-compose.yml -f /opt/artemis-telemetry/docker-compose.prod.yml pull
            docker-compose -f /opt/artemis-telemetry/docker-compose.yml -f /opt/artemis-telemetry/docker-compose.prod.yml up -d --remove-orphans --force-recreate
